

<h1>Log In!</h1>

<p><%= flash[:error] %>

<%= form_for(:user) do |f| %> 

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>
<%= f.submit "Log in" %>
<% end %>
<br>
<br>
     <%= link_to "Signup", signup_path %>
<br>
<%# # this is the route it will take you to: auth/google/oauth2 %>
     <%= link_to "Log In with Google", '/auth/google_oauth2' %>
</p>