<div>
<%= link_to "Log Out", logout_path, method: :delete %>
<%= link_to "Add a new patient", new_patient_path %>
<%= link_to "All patients", patients_path %>

</div> <br>
<%= form_with(model: @illness, url: patient_illnesses_path(@patient), local: true) do |f| %>
      <% if @illness.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @illness.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.label :illness, "Illness Description"%>
      <%= f.text_field :illness %> 

      <h4>Create a new medication</h4>
          <%= f.fields_for :medication do |m| %>
            <%= m.label :name, 'Medication Name' %>
            <%= m.text_field :name %><br><br>
          
            <%= m.label :frequency, "Frequency"%>
            <%= m.number_field :frequency %>
            <%= m.label :quantity, "Quantity"%>
            <%= m.number_field :quantity %><br><br>
            <%= m.submit "submit" %>
            <% end %>

  
       <% end %> 
    
