<h1>Sign Up!</h1>

<%= form_for(@user) do |f| %> 
<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "Sign up" %>
<%= link_to "Log In with Google", '/auth/google_oauth2' %>

<% end %>