 <div>
<%= link_to "Log Out", logout_path, method: :delete %>
<%= link_to "Add a new patient", new_patient_path %>
<%= link_to "All patients", patients_path(@patient) %>

</div>

<h1>List of Medications</h1>
<%# <% @illness.medication.name%>
<%# <table> %>

  <%# <% @patient.medications.collect do |medication| %>
 <%# <%= @patient.medication.medication.name  %>
<%# <% end %>
  <%# <% @medications.each do |medication| %>
    
        <%# <%= medication.medication_name %>
      
        <%# <%= link_to 'Delete Medication', medication, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <%# # <% end %>
   
 <%# </table> %>

<%# <% @illness.medications.collect do |medication| %>
 <%# <%= link_to medication.medication_name, patient_medications_path(medication.illness_id, medication) %>
<%# <% end %>


<%# <% @medications.each do |medication| %> 
     
    <%# <% medication_path(@medication) %>
        <%# <br> %>
  <%# <% end %>
<%# <% @medications.each do |medication| %>
 <%# <%= medication.medication_name %>
<%# <% end %>
