<%= render 'web_links' %>

<h1>All Patients</h1>
<%= form_tag("/patients", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %> 
 <ul>
    <% @patients.each do |patient|  %>
    <li> <%= link_to patient.name, patient_path(patient) %> </li>
    <% end %>
  </ul>
    <%= link_to "View Medication counts", patients_patient_meds_path(@patient) %>
    <br>
    <%= link_to "View Illness counts", patients_most_illnesses_path(@patient) %>
 <%= link_to "Patient category", categories_path %>

          

  
    
     
