<%= render 'web_links' %>

<h1>All Patients</h1>
<%= form_tag("/patients", method: 'get') do %>
<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>

<p><%= "There are #{Patient.patient_quant} number of patients" %></p>

    <% end %>  

     <% @patients.each do |patient| %> 
     
     <%= link_to patient.name, patient_path(patient) %> 
        <br>
  <% end %>     

  
    
     
