<h1>Add a new patient</h1>

<%= form_for(@patient) do |f| %> 

<%= f.label :name, "Patient Name" %>
<%= f.text_field :name %>
<br><br><br>

<h3> Add a medication for the patient</h3>
<div> 
<p>Select a medication or create a new one</p>
<%=f.fields_for :medications do |m| %>
<%= m.label :name, "Medication Name" %>
<%= m.collection_select :name_id, Medication.all, :id, :name, prompt: true%>

<p>Create a new medication</p>
f.fields_for :medication
<br>
<br>
<%= m.label :quantity %>
<%= m.text_field :quantity %>
<br>
<br>
<%= m.label :frequency %>
<%= m.text_field :frequency %>

<% end %>

</div>
<br>
<%= f.submit "Add a patient" %>

<% end %>