<h1>Add a new patient</h1>

<%= form_for(@patient) do |f| %> 

  <%= f.label :name, "Patient Name" %>
  <%= f.text_field :name %>
  <br><br><br>

  <div> 
  <h3>To add a medication for the patient, select a medication from the drop down or create a new one</h3>

  <%= f.label :name, "Medication Name" %>
  <%= f.collection_select :name, Medication.all, :id, :name, prompt: true%>

  <h4>Create a new medication</h4>
    <%= f.fields_for :medication do |m| %>
   
      <%= m.label :name %>
      <%= m.text_field :name %>
      <br><br>
      <%= m.label :quantity %>
      <%= m.text_field :quantity %>
      <br>
      <br>
      <%= m.label :frequency %>
      <%= m.text_field :frequency %>
    <% end %>
  <%= f.submit "Add a patient" %>
<% end %>







