<%= render 'web_links' %>

<h1>show patient</h1>

  <%= @patient.name %>
<% @patient.illnesses.each do |illness| %>
<%= illness.illness %>
<%# <% @patient.illnesses.medications.each do |illness| %>
<%# <%= medication.name %> 
<% end %>
 <%# <% end %>
 

  <br>
  <br>
  <%= link_to "Edit Patient", edit_patient_path(@patient) %> 
  <%= link_to "Delete Patient", patient_path(@patient), method: :delete %>
  
  
  