<%= render 'web_links' %>

<h1>Patient information</h1>
 
<p>Patient Name: <%= @patient.name %><br></p>

  <% @patient.illnesses.each do |illness| %>
  <p> Illness: <%= illness.illness %><br> </p>

  <p> Medication Name: <%= illness.medication.name %> </p>
  <% end  %>
 
  <br>
  <br>
  <%= link_to "Edit Patient", edit_patient_path(@patient) %> 
  <%= link_to "Delete Patient", patient_path(@patient), method: :delete %>
  
  
  