<%= render 'web_links' %>

<h1>Patient information</h1>
 
<label>Patient Name:</label>
  <%= @patient.name %><br>
 
<label>Illness:</label>
 <% @patient.illnesses.each do |illness| %>
 <%= illness.illness %><br>

<%= label_tag(:medication, "Medication Name:") %>
  <%= illness.medication.name %> 
 <% end  %>
 
 

  <br>
  <br>
  <%= link_to "Edit Patient", edit_patient_path(@patient) %> 
  <%= link_to "Delete Patient", patient_path(@patient), method: :delete %>
  
  
  