<%= render 'web_links' %>

<h1>show patient</h1>

  <%= @patient.name %>
<% @patient.illnesses.each do |illness| %>
<%= link_to illness.illness, patient_illness_path(illness.patient, illness)%>
<% end %>
 
 

  <br>
  <br>
  <%= link_to "Edit Patient", edit_patient_path(@patient) %> 
  <%= link_to "Delete Patient", patient_path(@patient), method: :delete %>
  
  
  