<%= render 'web_links' %>

<h1>Patient information</h1>

  <%= @patient.name %>
 <% @patient.illnesses.each do |illness| %>
 <%= illness.illness %>

  <%= illness.medication.name %> 
 <% end  %>
 
 

  <br>
  <br>
  <%= link_to "Edit Patient", edit_patient_path(@patient) %> 
  <%= link_to "Delete Patient", patient_path(@patient), method: :delete %>
  
  
  