<!DOCTYPE html>
<html>
  <head>
    <title>MedicationTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="header">
  <%= image_tag("pillbottle.jpg", width: '150px')%>
  
</div>

    


    <%= yield %>
  </body>
</html>
